<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvznNmeFjSNFUhNfh-rNL3uuYgVwMT9NY</string>
	<key>GCM_SENDER_ID</key>
	<string>857725179884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cs184.CS184HW2</string>
	<key>PROJECT_ID</key>
	<string>cs184hw2-4ddb6</string>
	<key>STORAGE_BUCKET</key>
	<string>cs184hw2-4ddb6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857725179884:ios:f0a28a0dbd651abe7b52c9</string>
</dict>
</plist>